<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Vítejte v aplikaci L+P</h1>
    <p>Registrujte se a ihned se můžete přihlásit na akci.</p>
    <p><%= link_to "Registrovat se", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag event.image.url(:medium), class: 'image'), event %>
      </div>
    </div>
  <% end %>
</div>



<div class="row">
  <div class="col-md-12 col-xs-6">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Název akce:</strong></td>
            <td>Akce</td>
          </tr>
          <tr>
            <td><strong>Popis:</strong></td>
            <td>Lorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfidLorem ipsum deloros jfkfid</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  